In [17]:
from __future__ import print_function

In [18]:
import pandas as pd
import scipy.stats as stats
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [19]:
#first look at data, let's look at just the first 2 rows
nov16 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201611a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
], nrows=2)

In [20]:
nov16

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
0,20161102,640,CP:C2YMD-A/B,StandardType2,Part,"-7.204457,53.863850","The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102,640,CP:C4ZH3,StandardType2,OOS,"-7.361237,53.994044","Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044

In [21]:
#load all data with correct headers (I decided the column names based on info about dataset and looking at first 2 rows above)
nov16 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201611a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])

In [22]:
nov16.head()

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
0,20161102,640,CP:C2YMD-A/B,StandardType2,Part,"-7.204457,53.863850","The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102,640,CP:C4ZH3,StandardType2,OOS,"-7.361237,53.994044","Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102,640,CP:C4547-A/B,StandardType2,OOC,"-7.082769,53.834939","Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102,640,CP:C6GPC,StandardType2,Part,"-8.686061,52.358365","The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102,640,CP:C6BTQ,StandardType2,Part,"-8.520562,51.709117","Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117

In [23]:
nov16.shape

(1213520, 9)

In [24]:
nov16.columns

Index([u'Datetime', u'Time', u'ChargePointID', u'ChargePointType', u'Status',
       u'Latitude_Longitude', u'Address', u'Latitude', u'Longitude'],
      dtype='object')

In [25]:
#now i need to add the other months
dec16 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201612a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])

In [26]:
dec16.head()

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
0,20161201,0,CP:C67D2,StandardType2,OOC,"-6.955983,52.702794","The Parade, Bagenalstown, County Carlow",-6.955983,52.702794
1,20161201,0,CP:C4GTM,StandardType2,OOC,"-6.736986,52.801581","Inner Relief Road, Tullow, County Carlow",-6.736986,52.801581
2,20161201,0,CP:C4ZH3,StandardType2,OOS,"-7.361237,53.994044","Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
3,20161201,0,CP:C4W54,StandardType2,OOC,"-9.647069,52.683379","Public Car Park, East End, Kilkee, County Clare",-9.647069,52.683379
4,20161201,0,CP:C6WY4,StandardType2,OOC,"-9.290289,53.027069","Hydro Hotel, Main Street, Lisdoonvarna, County...",-9.290289,53.027069

In [27]:
dec16.shape

(1085735, 9)

In [28]:
dec16.columns
#i named the data column 'Datetime' because later on this will be helpful when adding the 'Time' column to 'Datetime'

Index([u'Datetime', u'Time', u'ChargePointID', u'ChargePointType', u'Status',
       u'Latitude_Longitude', u'Address', u'Latitude', u'Longitude'],
      dtype='object')

In [29]:
#two ways to add decemeber rows to november rows
#1: append
#nov16.append(dec16,ignore_index=True)
#2: concat --> this one seems faster and is more recommended
full_data = pd.concat([nov16,dec16])

In [30]:
full_data.head() #november data up top looks good

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
0,20161102,640,CP:C2YMD-A/B,StandardType2,Part,"-7.204457,53.863850","The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102,640,CP:C4ZH3,StandardType2,OOS,"-7.361237,53.994044","Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102,640,CP:C4547-A/B,StandardType2,OOC,"-7.082769,53.834939","Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102,640,CP:C6GPC,StandardType2,Part,"-8.686061,52.358365","The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102,640,CP:C6BTQ,StandardType2,Part,"-8.520562,51.709117","Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117

In [31]:
full_data.tail() #december data on the bottom looks good! except there are a bunch of NaNs, i'll take care of those later

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
1085730,20161227,1445,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1085731,20161227,1735,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1085732,20161228,1435,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1085733,20161228,1440,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1085734,20161228,1700,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [32]:
#now let's load up the rest of the months and add them all to the full_data df
jan17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201701a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
feb17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201702a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
march17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201703a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
april17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201704a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
may17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201705a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
june17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201706a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
july17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201707a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
aug17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201708a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
sept17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201709a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
oct17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201710a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
nov17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201711a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])
dec17 = pd.read_csv('/Users/alexandrasmith/Documents/DataScience/Intro_to_Data_Science/irish_EV_stations_data/201712a.txt',sep='\t',names = ["Datetime","Time","ChargePointID","ChargePointType","Status","Latitude_Longitude","Address","Latitude","Longitude"
])

In [33]:
#putting all the months (14) of data together
full_data = pd.concat([full_data,jan17,feb17,march17,april17,may17,june17,july17,aug17,sept17,oct17,dec17])

In [34]:
#awesome, now let's take a look
full_data.head()

,Datetime,Time,ChargePointID,ChargePointType,Status,Latitude_Longitude,Address,Latitude,Longitude
0,20161102,640,CP:C2YMD-A/B,StandardType2,Part,"-7.204457,53.863850","The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102,640,CP:C4ZH3,StandardType2,OOS,"-7.361237,53.994044","Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102,640,CP:C4547-A/B,StandardType2,OOC,"-7.082769,53.834939","Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102,640,CP:C6GPC,StandardType2,Part,"-8.686061,52.358365","The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102,640,CP:C6BTQ,StandardType2,Part,"-8.520562,51.709117","Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117

In [35]:
full_data.shape #danggggg, that's a lot of entries...over 30 million

(17314536, 9)

In [36]:
full_data.dtypes #okay so i'm going to want to change the datetime to type datetime in a bit

Datetime               object
Time                   object
ChargePointID          object
ChargePointType        object
Status                 object
Latitude_Longitude     object
Address                object
Latitude              float64
Longitude             float64
dtype: object

In [37]:
#let's get rid of a duplicate column
del full_data['Latitude_Longitude'] #delete duplicate column of latitude and longitude

In [38]:
full_data.head(10)

,Datetime,Time,ChargePointID,ChargePointType,Status,Address,Latitude,Longitude
0,20161102,640,CP:C2YMD-A/B,StandardType2,Part,"The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102,640,CP:C4ZH3,StandardType2,OOS,"Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102,640,CP:C4547-A/B,StandardType2,OOC,"Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102,640,CP:C6GPC,StandardType2,Part,"The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102,640,CP:C6BTQ,StandardType2,Part,"Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117
5,20161102,640,CP:C7GRZ,StandardType2,OOC,"Navenny Street, Ballybofey, County Donegal",-7.783045,54.797965
6,20161102,640,CP:C7DGY,StandardType2,OOC,"Market Yard Car Park, Main Street, Ballyshanno...",-8.188621,54.501145
7,20161102,640,CP:C9HRF,StandardType2,OOS,"The Aura Lesiure Centre, Ballymacool Street, L...",-7.751151,54.946769
8,20161102,640,CP:C75HT,StandardType2,OOS,"Hospital Car Park, Kilmacrennan Road, Letterke...",-7.731468,54.961006
9,20161102,640,CP:C7FDW,StandardType2,OOC,"Justice Walsh Car Park, Off Bank Lane, Letterk...",-7.734554,54.951508

In [39]:
full_data.dtypes #check types of columns

Datetime            object
Time                object
ChargePointID       object
ChargePointType     object
Status              object
Address             object
Latitude           float64
Longitude          float64
dtype: object

In [41]:
#convert Datetime to str to combine date (Datetime) and time (Time)
full_data.Datetime = full_data.Datetime.astype(str)

#convert Time to str to combine date (Datetime) and time (Time)
full_data.Time = full_data.Time.astype(str)

In [44]:
full_data.dtypes
#even though the type of Datetime and Time is still 'object', it seemed to help with respect to eliminating the following error when adding Time to Datetime below:
#TypeError: sequence item 0: expected string, int found

Datetime            object
Time                object
ChargePointID       object
ChargePointType     object
Status              object
Address             object
Latitude           float64
Longitude          float64
dtype: object

In [42]:
#add Time to Datetime column
full_data['Datetime'] = full_data['Datetime'].str.cat(full_data['Time'].values.astype(str), sep='')

In [45]:
full_data.head()

,Datetime,Time,ChargePointID,ChargePointType,Status,Address,Latitude,Longitude
0,20161102640,640,CP:C2YMD-A/B,StandardType2,Part,"The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102640,640,CP:C4ZH3,StandardType2,OOS,"Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102640,640,CP:C4547-A/B,StandardType2,OOC,"Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102640,640,CP:C6GPC,StandardType2,Part,"The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102640,640,CP:C6BTQ,StandardType2,Part,"Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117

In [46]:
#now i don't need the Time column anymone (since it was added to the Datetime column)
del full_data['Time']

In [47]:
full_data.head()

,Datetime,ChargePointID,ChargePointType,Status,Address,Latitude,Longitude
0,20161102640,CP:C2YMD-A/B,StandardType2,Part,"The Grove, Ballyjamesduff, County Cavan",-7.204457,53.863850
1,20161102640,CP:C4ZH3,StandardType2,OOS,"Off Farnham Street, Cavan Town, County Cavan",-7.361237,53.994044
2,20161102640,CP:C4547-A/B,StandardType2,OOC,"Main Street, Virginia, County Cavan",-7.082769,53.834939
3,20161102640,CP:C6GPC,StandardType2,Part,"The Turrets, Off Main Street, Charleville, Cou...",-8.686061,52.358365
4,20161102640,CP:C6BTQ,StandardType2,Part,"Fire Brigade Car Park, New Road, Kinsale, Coun...",-8.520562,51.709117

In [50]:
full_data.dtypes
#now Datetime is ready to be converted to type datetime

Datetime            object
ChargePointID       object
ChargePointType     object
Status              object
Address             object
Latitude           float64
Longitude          float64
dtype: object

In [ ]:
#from datetime import datetime

#DateFormat = '%y%m%d%H%M'
#datetime.strptime(nov16.Datetime,DateFormat)

In [51]:
full_data['FormattedDatetime'] = pd.to_datetime(full_data.Datetime,yearfirst=True)
#full_data['Datetime'] = full_data['Datetime'].apply(lambda x:datetime.datetime.strptime(x,"%Y%m%d%H%M"))

OverflowError: signed integer is greater than maximum

/Users/alexandrasmith